@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary-color: #f5826e;  
}





.invoice-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  padding: 10px 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 25em;
  width: 22em;
  background-color: #fff;
  border-radius: 5px;
 
}

/* .invoice-card > div {
  margin: 5px 0;
} */

input::placeholder {
    font-size: 1.25rem; /* Adjust the size as needed */
  }


.invoice-title {
  flex: 3;
  text-align: center; 
}

.invoice-title #date {
  display: block;
  margin: 8px 0;
  text-align: center; 
  font-size: 12px;
}

.invoice-title #main-title {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  text-align: center; 
}

.invoice-title #main-title h4 {
  letter-spacing: 2.5px;
  text-align: center; 
}

.invoice-title span {
  color: rgba(0, 0, 0, 0.4);
  text-align: center; 
}

.invoice-details {
  text-align: center; 
  border-top: 0.5px dashed grey;
  border-bottom: 0.5px dashed grey;

}


